<h1>Welcome to our Character Generator</h1>

<h2>Please select from the options below</h2>

<%= form_for :characters do |f| %>
   <p>Name:  <%= f.text_field :name %><br></p>
  
  <%= f.text_area :background, size: "60x12" %><br>
  <%= f.text_field :race %><br>
  <%= f.text_field :class %><br>
  <%= f.submit "Create" %>
<% end %>