<h1>Your characters:</h1>
<%= link_to 'Create a new character?', new_character_path %>

<table>
  <tr>
    <th>Character</th>
    <th>Background</th>
  </tr>
  <% @characters.each do |character| %>
    <tr>
      <td><%= character.name %></td>
      <td><%= character.background %></td>
      <td><%= link_to 'View', character_path(character) %></td>
      <td><%= link_to 'Edit', edit_character_path(character) %></td>
      <td><%= link_to 'Terminate',
                                  character_path(character),
                                  method: :delete,
                                  data: { confirm: 'Are you sure you want to remove this character?' } %></td>
    </tr>
  <% end %>
</table>