<p>
  Your name is... <strong><%= @character.name %></strong>, <br/>
  and you are a <i><%= @character.race %> <%= @character.classes %></i>. <br/>
</p>

<p>
    <strong>Background:</strong> <br />
    Your story is: <%= @character.background %> <br/>
</p>

<p>
  <strong>Condition:</strong> <br/>
  Hit points: ( <%= @character.hitpoints %> )
</p>

<p>
  <strong>Stats:</strong> <br/>
  Strength:
  <%= @character.strength %> ( <%= @character.strengthmodifier %> )<br/>
  Dexterity:
  <%= @character.dexterity %> ( <%= @character.dexteritymodifier %> )<br/>
  Constitution:
  <%= @character.constitution %> ( <%= @character.constitutionmodifier %> )<br/>
  Intelligence:
  <%= @character.intelligence %> ( <%= @character.intelligencemodifier %> )<br/>
  Wisdom:
  <%= @character.wisdom %> ( <%= @character.wisdommodifier %> )<br/>
  Charisma:
  <%= @character.charisma %> ( <%= @character.charismamodifier %> )<br/>
</p>

<p>
    <strong>Equipment:</strong> <br />
    You are trained in <%= @character.armorclass %> usage and thus, have equipped yourself accordingly. With your <%= @character.armorequipment %> donned and <%= @character.weaponequipment %> in hand, you feel like you can handle anything. Sifting through your pockets you find <%= @character.gold %> GP.<br />
</p>


<p><strong>Player Notes and Discussion:</strong><p>
<% @character.comments.each do |comment| %>
  <p>
    Alias:
    <%= comment.commenter %>
  </p>
  <p>
    Note:
    <%= comment.body %>
  </p>
  <p>
    <%= link_to 'Remove Note', [comment.character, comment],
                method: :delete,
                data: {confirm: 'Are you sure you want to remove this note?'} %>
  </p>
<% end %>
<p><strong>Got something to say? Submit here!</strong><p>
<%= form_for([@character, @character.comments.build]) do |f| %>
    <p>
        <%= f.label :alias %><br>
        <%= f.text_field :commenter %>
    </p>
    <p>
        <%= f.label :note %><br>
        <%= f.text_area :body %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to 'Go back!', characters_path %>