<p>
  Your name is... <strong><%= @character.name %></strong>, <br/>
  and you are a <i><%= @character.race %> <%= @character.classes %></i>. <br/>
</p>

<p>
  <strong>Stats:</strong> <br/>
  Strength:
  <%= @character.strength %> <br/>
  Dexterity:
  <%= @character.dexterity %> <br/>
  Constitution:
  <%= @character.constitution %> <br/>
  Intelligence:
  <%= @character.intelligence %> <br/>
  Wisdom:
  <%= @character.wisdom %> <br/>
  Charisma:
  <%= @character.charisma %> <br/>
</p>

<p>
    <strong>Equipment:</strong> <br />
    You are profecient in <%= @character.armorclass %> usage and in your pockets you find <%= @character.gold %> GP.<br />
</p>